table {
    border-collapse: collapse;
}

colgroup, tbody {
    border: solid medium;
}

td {
    border: solid thin;
    text-align: center;
    padding: 0;
}

textarea {
    font-size: 36px;
    line-height: 1em;
    height: 1em;
    width: 1em;
    overflow: hidden;
    resize: none;
    text-align: center;
    vertical-align: middle;
}

textarea::placeholder {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 1em;
}

textarea[placeholder="1"] {
    background-color: lightcoral;
}

textarea[placeholder="2"] {
    background-color: lightcyan;
}

textarea[placeholder="3"] {
    background-color: lightgreen;
}

textarea[placeholder="4"] {
    background-color: lightpink;
}

textarea[placeholder="5"] {
    background-color: lightsalmon;
}

textarea[placeholder="6"] {
    background-color: lightseagreen;
}

textarea[placeholder="7"] {
    background-color: lightskyblue;
}

textarea[placeholder="8"] {
    background-color: lightsteelblue;
}

textarea[placeholder="9"] {
    background-color: lightyellow;
}
